/* Variables y estilos base */

:root{
    --primary: rgb(0, 46, 120);
    --secondary: rgb(255, 255, 255);
    --secondary-2: rgb(255, 122, 1);
    --text-color: rgb(100, 100, 100);

    --xxxs: clamp(0.8rem, 1.6vw, 1rem);
    --xxs: clamp(1rem, 2vw, 1.25rem);
    --xs: clamp(1.2rem, 2.4vw, 1.5rem);
    --s: clamp(1.4rem, 2.8vw, 1.75rem);
    --m: clamp(1.6rem, 3.2vw, 2rem);
    --l: clamp(1.8rem, 3.6vw, 2.25rem);
    --xl: clamp(2rem, 4vw, 2.5rem);
    --xxl: clamp(2.4rem, 4.8vw, 3rem);
    --xxxl: clamp(2.8rem, 5.6vw, 3.5rem);
}

html{
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Quicksand', sans-serif;
}

/* Diseño Mobile */

#fondoNegro{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    opacity: 0;

    transition: all 500ms;

    z-index: -1;
}

#topBar{
    width: 100vw;
    height: 75px;

    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--secondary);
    opacity: .95;

    z-index: 3;
}

.logo{
    width: 65px;
    margin: 32px;
}

#botonMenu{
    margin: 32px;

    background: none;
    border: none;
}

#iconoMenu{
    font-size: 28px;
    color: var(--primary);
    transition: all 500ms;
}

#menu{
    width: 100vw;
    padding-top: 16px;
    position: fixed;
    bottom: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: var(--secondary);
    opacity: .95;

    list-style: none;

    z-index: 2;

    transition: all 500ms ease;
}

.menuActivo{
    transform: translateY(calc(100% + 75px));
}

#menu > li{
    width: 90%;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: start;

    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

#menu li > a{
    font-size: var(--m);
    color: var(--primary);
    text-decoration: none;
}

#portada{
    margin-top: 75px;
    width: 100%;
    height: clamp(200px, 55vw, 600px);
}

#portada > img{
    width: inherit;
    height: inherit;
}

.titulo{
    margin: 0 20px;

    font-size: var(--xl);
    font-weight: 500;
    text-align: center;
    line-height: 28px;
}

.texto{
    font-size: var(--m);
    font-weight: 300;
    color: var(--text-color);
    text-align: center;
    line-height: 24px;
}

#contenedorProducto{
    width: 100vw;
    padding: 32px 16px;

    background-color: var(--primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.cajaDescripcion{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.cajaDescripcion > .titulo{
    color: var(--secondary);
    opacity: .8;
}

.cajaDescripcion > .titulo > span{
    font-weight: bold;
    color: var(--secondary-2);
}

.cajaDescripcion > .texto{
    color: var(--secondary);
    opacity: .8;
}

.cajaVideo{
    width: 100%;

    display: flex;
    justify-content: center;
}

footer{
    width: 100vw;
    padding: 32px 16px 8px;

    background-color: var(--secondary-2);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cajaFCC{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.cajaFCC > a > img{
    width: 65px;
    opacity: 1;
    animation-iteration-count: infinite;
}

.cajaFCC > p{
    font-size: var(--xs);
    font-weight: bold;

    color: var(--secondary);
    opacity: .9;
    
    text-align: center;
}

.cajaContacto, .cajaRedes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.cajaContacto > a, .cajaRedes > a{
    font-size: var(--m);
    color: var(--secondary);
    opacity: .9;

    text-decoration: none;
}

.cajaContacto > a:visited, .cajaRedes > a:visited{
    color: var(--secondary);
}

.cajaContacto > a > i, .cajaRedes > a > i{
    padding: 0 12px;

    font-size: var(--xxl);
    color: var(--secondary);
    opacity: .9;
}

#copyright{
    font-size: var(--xs);
    font-weight: bolder;

    color: black;
    opacity: .9;
}