/* Agregando la tiporafía desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* Variables y estilos base */

:root{
    /* Variables de colores para backgrounds, bordes, textos, etc. */
    --azul: rgb(0, 46, 120);
    --blanco: rgb(255, 255, 255);
    --naranja: rgb(255, 122, 1);

    --textoAzul: rgb(0, 46, 120, .8);
    --textoGris: rgb(100, 100, 100);
    --textoBlanco: rgb(255, 255, 255, .8);
    --textoNaranja: rgb(255, 122, 1, .8);

    /* Variables para font-sizes */
    --xxxs: clamp(0.8rem, 1.6vw, 1rem);
    --xxs: clamp(1rem, 2vw, 1.25rem);
    --xs: clamp(1.2rem, 2.4vw, 1.5rem);
    --s: clamp(1.4rem, 2.8vw, 1.75rem);

    --m: clamp(1.6rem, 3.2vw, 2rem);
    
    --l: clamp(1.8rem, 3.6vw, 2.25rem);
    --xl: clamp(2rem, 4vw, 2.5rem);
    --xxl: clamp(2.4rem, 4.8vw, 3rem);
    --xxxl: clamp(3rem, 6vw, 3.75rem);
}

/* Ajuste para que 1 rem sea = 10px */
html{
    font-size: 62.5%;
}

/* Ajustes para posicionar sin problemas cualquier contenedor. */
/* tipografía general para toda la página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Nunito', sans-serif;
}

/* Diseño Mobile */

/* Clase para todos los contenedores principales(section) */
.contenedor{
    width: 100vw;
    padding: 32px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Clases para los background-colors de los contenedores principales */
.azul{
    color: var(--textoBlanco);
    background-color: var(--azul);
}

.blanco{
    color: var(--textoGris);
    background-color: var(--blanco);
}

.naranja{
    color: var(--textoBlanco);
    background-color: var(--naranja);
}

/* Clases generales para titulos y textos respectivamente */
.titulo{
    font-size: var(--xl);
    font-weight: 500;
    text-align: center;
    line-height: 28px;
}

.texto{
    font-size: var(--m);
    font-weight: 300;
    text-align: center;
    line-height: 24px;
}

span{
    font-weight: 700;
    color: var(--textoNaranja);
}

/* Clase para una mejor vista al abrir el menú */
.fondo-negro{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    opacity: 0;

    transition: all 500ms;

    z-index: -1;
}

/* Clases de la barra de navegación y sus componentes */
#top-bar{
    width: 100vw;
    height: 75px;

    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--blanco);
    opacity: .95;

    z-index: 3;
}

.logo{
    width: 65px;
    margin: 32px;
}

#boton-menu{
    margin: 16px;
    padding: 16px;

    background: none;
    border: none;

    cursor: pointer;
}

#icono-menu{
    font-size: 28px;
    color: var(--azul);
    transition: all 500ms;
}

/* Clases para la visualización correcta del menú y sus estilos */
#menu{
    width: 100vw;
    padding-top: 16px;
    position: fixed;
    bottom: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: var(--blanco);
    opacity: .95;

    list-style: none;

    z-index: 2;

    transition: all 500ms ease;
}

.menu-activo{
    transform: translateY(calc(100% + 75px));
}

#menu > li{
    width: 90%;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: start;

    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#menu li > a{
    font-size: var(--m);
    font-weight: 600;
    color: var(--textoAzul);
    text-decoration: none;
}

#menu li:nth-child(2) > a{
    font-size: var(--m);
    font-weight: 800;
    color: var(--textoNaranja);
    text-decoration: none;
}

/* Clases para la portada */
.portada{
    margin-top: 75px;
    width: 100%;
    height: clamp(200px, 55vw, 600px);
}

.portada > img{
    width: inherit;
    height: inherit;
}

/* Clase para todas las cajas que por defecto contienen un título y un parrafo abajo */
.caja-descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

/* Clase para ajustar a la pantalla el tamaño del iframe del video */
.caja-video{
    width: 100%;

    display: flex;
    justify-content: center;
}

/* Clases para una vista cómoda y responsiva para la sección de la línea histórica */
#historia > .titulo > i{
    font-size: var(--xxxl);
    color: var(--azul);
}

#contenedor-fechas {
    width: 100%;

    display: flex;
    gap: 80px;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
  }
  
.caja-fecha {
    flex-shrink: 0;
    scroll-snap-align: start;

    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.caja-fecha > .titulo{
    width: 200px;
    padding: 8px 16px;

    font-size: var(--xxxl);
    font-weight: 800;
    color: var(--textoNaranja);

    border-top: 2px solid var(--textoNaranja);
    border-bottom: 2px solid var(--textoNaranja);

    border-radius: 8px;
}

.caja-fecha > .texto{
    width: 250px;
    font-size: var(--s);
}

#historia > .texto > i{
    margin-left: 8px;
}

/* Clases para la sección de materiales aptos para su uso */
.caja-bloques{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
}

.bloque{
    width: 160px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.bloque > .texto{
    font-size: var(--xs);
    font-weight: 700;
    line-height: 16px;
}

/* Clases para la sección de ventajas en su uso */
#XQusarlo{
    gap: 52px;
}

.caja-ventaja{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.caja-ventaja > img{
    width: clamp(200px, 80%, 600px);
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.info > i{
    font-size: var(--xxxl);
    color: var(--naranja);
}

.info > p{
    font-weight: 800;
}

.caja-seguridad{
    width: 50%;

    display: flex;
    justify-content: center;
    gap: 12px;
}

.caja-seguridad > i{
    font-size: var(--xxl);
    color: var(--naranja);
}

.caja-seguridad > img{
    width: var(--xxxl);
}

/* Clases para el botón del hipervínculo hacia Pruebas Técnicas */
.boton{
    margin-top: 12px;
    padding: 12px;

    font-size: var(--s);
    font-weight: 800;
    color: var(--textoAzul);
    text-decoration: none;

    border: 2px solid var(--textoAzul);
    border-radius: 20px;

    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .5);

    transition: all 500ms;
}

.boton:visited{
    color: var(--textoAzul);
}

.boton:hover{
    color: var(--textoBlanco);
    background-color: var(--naranja);
    border: 1px solid var(--textoBlanco);
    transform: scale(1.1);
}

/* estilo para la visualización correcta del mapa de América */
#mapa{
    width: 100vw;
}

/* Clases para las sección FAQ */
.lista-preguntas{
    list-style: none;
}

.caja-pregunta{
    width: 100%;
    padding: 32px 0;

    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.caja-pregunta:last-child{
    padding-bottom: 0;
}

.pregunta{
    margin-bottom: 20px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    cursor: pointer;
}

.pregunta > .texto{
    width: 80%;

    text-align: start;
}

.pregunta >  i{
    padding: 8px;

    font-size: var(--l);
    color: var(--textoNaranja);
}

.respuesta{
    text-align: start;

    height: 0;
    overflow: hidden;
    transition: 500ms;
    overflow-y: auto;
}

.caja-pregunta > .pregunta > i{
    transition: all 500ms;
    transform: rotate(0deg);
}

.activo > .pregunta > i{
    transition: all 500ms;
    transform: rotate(45deg);
}

.activo > .respuesta{
    height: 310px;
}

/* Clases para la sección de contactos para mas dudas */
#enlace{
    text-decoration: none;
    transition: all 500ms;
    color: var(--textoNaranja);
}

#enlace:visited {
    color: var(--textoNaranja);
}

#enlace:hover{
    transform: scale(1.1);
    font-size: var(--xxl);
    font-weight: 700;
}

.contactos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
}

.cajita-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cajita-contacto > i{
    font-size: var(--xxl);
    color: var(--azul);
}

.cajita-contacto > p:first-of-type{
    font-weight: 700;
}

.cajita-contacto > a{
    font-weight: 400;
    color: var(--textoAzul);
    text-decoration: none;
}

.cajita-contacto > a:visited{
    color: var(--textoAzul);
}

/* Clases para dar estilo al footer general de la página */
#footer{
    padding-bottom: 4px;
}

.caja-FCC{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.caja-FCC > a > img{
    width: 65px;
    opacity: 1;
    animation-iteration-count: infinite;
}

.caja-FCC > p{
    font-size: var(--s);
    font-weight: 800;
}

.caja-contacto, .caja-redes{
    width: clamp(200px, 50vw, 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.caja-contacto > a, .caja-redes > a{
    font-weight: 600;
    color: var(--textoBlanco);
    text-decoration: none;
}

.caja-contacto > a:visited, .caja-redes > a:visited{
    color: var(--textoBlanco);
}

.caja-contacto > a > i, .caja-redes > a > i{
    margin: 0 12px;

    font-size: var(--xxl);
    color: var(--textoBlanco);
}

#copyright{
    font-size: var(--s);
    font-weight: 800;

    color: rgba(0, 0, 0, .8);
}

/* Fin de la hoja CSS para producto.html */