/* Vars and base styles */

:root{
    --primary: rgb(0, 46, 120);
    --secondary: rgb(255, 255, 255);
    --secondary-2: rgb(255, 122, 1);
    --text-color: rgb(100, 100, 100);

    --xxs: clamp(1rem, 2vw, 1.25rem);
    --xs: clamp(1.2rem, 2.4vw, 1.5rem);
    --s: clamp(1.4rem, 2.8vw, 1.75rem);
    --m: clamp(1.6rem, 3.2vw, 2rem);
    --l: clamp(1.8rem, 3.6vw, 2.25rem);
    --xl: clamp(2rem, 4vw, 2.5rem);
    --xxl: clamp(2.2rem, 4.4vw, 2.75rem);
}

html{
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Quicksand', sans-serif;
}

/* Mobile design */

#top-bar{
    width: 100vw;
    height: 75px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--secondary);
}

.logo{
    width: 65px;
    margin: 32px;
}

#menu-button{
    margin: 32px;

    background: none;
    border: none;
}

#menu-button i{
    font-size: 28px;
    color: var(--primary);
}

#menu{
    width: 100vw;
    margin: 16px 0;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: var(--secondary);

    list-style: none;
}

#menu > li{
    width: 90%;
    height: 35px;

    display: flex;
    align-items: start;

    border-bottom: 1px solid rgb(210, 210, 210);
}

#menu li > a{
    font-size: var(--s);
    color: var(--text-color);
    text-decoration: none;
}

#portada{
    width: 100%;
    height: clamp(200px, 55vw, 55vw);
}

#portada > img{
    width: inherit;
    height: inherit;

}

#benefits-container{
    width: 100vw;

    background-color: var(--primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.benefit-box{
    width: 200px;
    margin: 28px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.benefit-box > img{
    width: 75px;
    height: 75px;
}

.info{
    font-size: var(--m);
    color: var(--secondary);

    text-align: center;
}

.info > span{
    font-size: 30px;
}

#descriptions-container{
    width: 100vw;

    background-color: var(--secondary);
}

.description-box{
    width: 100%;
    padding: 32px 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.title{
    margin: 0 20px;

    font-size: var(--xl);
    font-weight: 500;
    text-align: center;
}

.description-box > .title{
    color: var(--text-color);
}

.description-box > .title > span{
    color: var(--secondary-2);
    font-weight: 600;
}

.text{
    font-size: var(--m);
    font-weight: 300;
    color: var(--text-color);
    text-align: center;
}

#characteristics-container{
    width: 100vw;
    padding: 32px 8px;

    background-color: var(--secondary);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;

    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.characteristic-box{
    width: 200px;

    display: flex;
    align-items: center;
    gap: 12px;
}

.characteristic-box > img{
    width: 50px;
    height: 40px;
}

.characteristic-box:nth-child(2) > img, .characteristic-box:nth-child(3) > img{
    filter: contrast(0);
}

.characteristic-box > p{
    font-size: var(--xs);
    color: var(--text-color);
    text-align: start;
}

#technical-tests-container{
    width: 100vw;
    padding: 32px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    background-color: rgba(241, 241, 241);

    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

#technical-tests-container > h2{
    color: var(--primary);
}

#technical-tests-container > h2 > span{
    font-weight: bolder;
}

#technical-tests-container > p{
    align-self: start;
}

#technical-tests-container > p:first-of-type{
    margin: 24px 0px;
    font-style: italic;
    text-align: start;
}

#more-info{
    align-self: start;
    margin-top: 28px;
    padding: 12px;

    background-color: var(--secondary);
    border: 1px solid var(--primary);
    border-radius: 20px;
}

#more-info > a{
    font-size: var(--xs);
    font-weight: bolder;
    color: var(--primary);
    text-decoration: none;
}

#more-info > a:visited{
    color: var(--primary);
}

#GBC-container{
    width: 100vw;
    padding: 32px 16px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#GBC-container > p{
    font-size: var(--s);
}

#GBC-container > img{
    width: 120px;
}

#rewards-container{
    width: 100vw;

    background-color: var(--primary);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.reward-box{
    width: 100%;
    padding: 60px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.reward-box > .title{
    font-size: var(--xxl);
    color: var(--secondary);
}

.reward-box > .text{
    color: var(--secondary);
}