@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* Variables y estilos base */

:root{
    --fondoAzul: rgb(0, 46, 120);
    --fondoBlanco: rgb(255, 255, 255);
    --fondoNaranja: rgb(255, 122, 1);
    --textoAzul: rgb(0, 46, 120, .8);
    --textoGris: rgb(100, 100, 100);
    --textoBlanco: rgb(255, 255, 255, .8);
    --textoNaranja: rgb(255, 122, 1, .8);

    --xxxs: clamp(0.8rem, 1.6vw, 1rem);
    --xxs: clamp(1rem, 2vw, 1.25rem);
    --xs: clamp(1.2rem, 2.4vw, 1.5rem);
    --s: clamp(1.4rem, 2.8vw, 1.75rem);
    --m: clamp(1.6rem, 3.2vw, 2rem);
    --l: clamp(1.8rem, 3.6vw, 2.25rem);
    --xl: clamp(2rem, 4vw, 2.5rem);
    --xxl: clamp(2.4rem, 4.8vw, 3rem);
    --xxxl: clamp(3rem, 6vw, 3.75rem);
}

html{
    font-size: 62.5%;
}

body{
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Nunito', sans-serif;
}

/* Diseño Mobile */

#cajaNegraABNT{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;

    background-color: rgb(0, 0, 0, .75);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 4;
}

#cajaBoton{
    width: clamp(260px, 90%, 500px);

    display: flex;
    justify-content: end;
    align-items: center;
}

#cajaBoton > p{
    font-size: var(--xs);
    color: var(--fondoBlanco);
    margin-bottom: 12px;
}

#botonCierre{
    width: clamp(25px, 6%, 35px);
    margin: 0 0 12px 12px;
}

#ABNT{
    width: clamp(260px, 90%, 500px);
    border: 4px solid var(--fondoBlanco);
}

#fondoNegro{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    opacity: 0;

    transition: all 500ms;

    z-index: -1;
}

#topBar{
    width: 100vw;
    height: 75px;

    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--fondoBlanco);
    opacity: .95;

    z-index: 3;
}

.logo{
    width: 65px;
    margin: 32px;
}

#botonMenu{
    margin: 32px;

    background: none;
    border: none;
}

#iconoMenu{
    font-size: 28px;
    color: var(--fondoAzul);
    transition: all 500ms;
}

#menu{
    width: 100vw;
    padding-top: 16px;
    position: fixed;
    bottom: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: var(--fondoBlanco);
    opacity: .95;

    list-style: none;

    z-index: 2;

    transition: all 500ms ease;
}

.menuActivo{
    transform: translateY(calc(100% + 75px));
}

#menu > li{
    width: 90%;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: start;

    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

#menu li > a{
    font-size: var(--m);
    color: var(--fondoAzul);
    text-decoration: none;
}

#portada{
    margin-top: 75px;
    width: 100%;
    height: clamp(200px, 55vw, 600px);
}

#portada > img{
    width: inherit;
    height: inherit;
}

#contenedorBeneficios{
    width: 100vw;

    background-color: var(--fondoAzul);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cajaBeneficio{
    width: 200px;
    margin: 28px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.cajaBeneficio > img{
    width: 75px;
    height: 75px;
}

.info{
    font-size: var(--m);
    color: var(--fondoBlanco);

    text-align: center;
    line-height: 24px;
}

.info > span{
    font-size: 30px;
}

#contenedorDescripciones{
    width: 100vw;

    background-color: var(--fondoBlanco);
}

.cajaDescripcion{
    width: 100%;
    padding: 32px 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.titulo{
    margin: 0 20px;

    font-size: var(--xl);
    font-weight: 500;
    text-align: center;
    line-height: 28px;
}

.cajaDescripcion > .titulo{
    color: var(--textoGris);
}

.cajaDescripcion > .titulo > span{
    color: var(--fondoNaranja);
    font-weight: 600;
}

.texto{
    font-size: var(--m);
    font-weight: 300;
    color: var(--textoGris);
    text-align: center;
    line-height: 24px;
}

#contenedorCaracteristicas{
    width: 100vw;
    padding: 32px 8px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.cajaCaracteristica{
    width: 200px;

    display: flex;
    align-items: center;
    gap: 12px;
}

.cajaCaracteristica > img{
    width: 50px;
    height: 40px;
}

.cajaCaracteristica:nth-child(2) > img, .cajaCaracteristica:nth-child(3) > img{
    filter: contrast(0);
}

.cajaCaracteristica > p{
    font-size: var(--xs);
    font-weight: bold;
    color: var(--textoGris);
    opacity: .8;
    text-align: start;
}

#contenedorPruebas{
    width: 100vw;
    padding: 32px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    background-color: var(--fondoAzul);

}

#contenedorPruebas > h2{
    color: var(--textoBlanco);
}

#contenedorPruebas > h2 > span{
    font-weight: bolder;
    color: var(--fondoNaranja);
}

#contenedorPruebas > p{
    align-self: start;
    color: var(--fondoBlanco);
    opacity: .8;
}

#contenedorPruebas > p:first-of-type{
    margin: 24px 0px;
    font-style: italic;
    text-align: start;
}

#botonSaberMas{
    align-self: start;
    margin-top: 28px;
    padding: 12px;

    font-size: var(--xs);
    font-weight: bolder;
    color: var(--fondoBlanco);
    text-decoration: none;

    border: 1px solid var(--fondoBlanco);
    border-radius: 20px;
}

#botonSaberMas:visited{
    color: var(--fondoBlanco);
}

#contenedorInstituciones{
    width: 100vw;
    padding: 32px 8px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 32px;

    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

#contenedorInstituciones > img{
    min-width: 30px;
    max-height: 40px;

    filter: grayscale(1);
    opacity: .8;
}

#contenedorGBC{
    width: 100vw;
    padding: 32px 16px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#contenedorGBC > p{
    font-size: var(--s);
}

#contenedorGBC > img{
    width: 120px;
}

#contenedorPremios{
    width: 100vw;

    background-color: var(--fondoAzul);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cajaPremio{
    width: 100%;
    padding: 60px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cajaPremio > .titulo{
    font-size: var(--xxl);
    color: var(--fondoBlanco);
}

.cajaPremio > img{
    margin-top: 40px;
    width: clamp(280px, 100%, 500px);
}

.cajaPremio > .texto{
    color: var(--fondoBlanco);
}

#contenedorTecnologiaFCC{
    width: 100vw;
    padding: 32px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;

    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.cajaInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.cajaInfo > h2{
    color: var(--textoGris);
}

.cajaInfo > h2 > span{
    font-weight: bold;
    color: var(--fondoNaranja);
}

.cajaDatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.cajaDatos > p:first-child{
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    
    border-bottom: 2px solid var(--fondoNaranja);
    border-right: 1px solid var(--fondoNaranja);

    border-radius: 25px;
}

.cajaDatos > p:last-child{
    font-size: var(--s);
    font-weight: bold;
}

footer{
    width: 100vw;
    padding: 32px 16px 8px;

    background-color: var(--fondoNaranja);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cajaFCC{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.cajaFCC > a > img{
    width: 65px;
    opacity: 1;
    animation-iteration-count: infinite;
}

.cajaFCC > p{
    font-size: var(--xs);
    font-weight: bold;

    color: var(--fondoBlanco);
    opacity: .9;
    
    text-align: center;
}

.cajaContacto, .cajaRedes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.cajaContacto > a, .cajaRedes > a{
    font-size: var(--m);
    color: var(--fondoBlanco);
    opacity: .9;

    text-decoration: none;
}

.cajaContacto > a:visited, .cajaRedes > a:visited{
    color: var(--fondoBlanco);
}

.cajaContacto > a > i, .cajaRedes > a > i{
    padding: 0 12px;

    font-size: var(--xxl);
    color: var(--fondoBlanco);
    opacity: .9;
}

#copyright{
    font-size: var(--xs);
    font-weight: bolder;

    color: black;
    opacity: .9;
}