/* Vars and base styles */

:root{
    --primary: rgb(0, 46, 120);
    --secondary: rgb(255, 255, 255);
    --secondary-2: rgb(255, 122, 1);
    --text-color: rgb(100, 100, 100);

    --xxxs: clamp(0.8rem, 1.6vw, 1rem);
    --xxs: clamp(1rem, 2vw, 1.25rem);
    --xs: clamp(1.2rem, 2.4vw, 1.5rem);
    --s: clamp(1.4rem, 2.8vw, 1.75rem);
    --m: clamp(1.6rem, 3.2vw, 2rem);
    --l: clamp(1.8rem, 3.6vw, 2.25rem);
    --xl: clamp(2rem, 4vw, 2.5rem);
    --xxl: clamp(2.4rem, 4.8vw, 3rem);
    --xxxl: clamp(2.8rem, 5.6vw, 3.5rem);
}

html{
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Quicksand', sans-serif;
}

/* Mobile design */

#topBar{
    width: 100vw;
    height: 75px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--secondary);
}

.logo{
    width: 65px;
    margin: 32px;
}

#botonMenu{
    margin: 32px;

    background: none;
    border: none;
}

#botonMenu i{
    font-size: 28px;
    color: var(--primary);
}

#menu{
    width: 100vw;
    margin: 16px 0;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: var(--secondary);

    list-style: none;
}

#menu > li{
    width: 90%;
    height: 35px;

    display: flex;
    align-items: start;

    border-bottom: 1px solid rgb(210, 210, 210);
}

#menu li > a{
    font-size: var(--m);
    color: var(--text-color);
    text-decoration: none;
}

#portada{
    width: 100%;
    height: clamp(200px, 55vw, 600px);
}

#portada > img{
    width: inherit;
    height: inherit;

}

#contenedorBeneficios{
    width: 100vw;

    background-color: var(--primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cajaBeneficio{
    width: 200px;
    margin: 28px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.cajaBeneficio > img{
    width: 75px;
    height: 75px;
}

.info{
    font-size: var(--m);
    color: var(--secondary);

    text-align: center;
    line-height: 24px;
}

.info > span{
    font-size: 30px;
}

#contenedorDescripciones{
    width: 100vw;

    background-color: var(--secondary);
}

.cajaDescripcion{
    width: 100%;
    padding: 32px 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.titulo{
    margin: 0 20px;

    font-size: var(--xl);
    font-weight: 500;
    text-align: center;
    line-height: 28px;
}

.cajaDescripcion > .titulo{
    color: var(--text-color);
}

.cajaDescripcion > .titulo > span{
    color: var(--secondary-2);
    font-weight: 600;
}

.texto{
    font-size: var(--m);
    font-weight: 300;
    color: var(--text-color);
    text-align: center;
    line-height: 24px;
}

#contenedorCaracteristicas{
    width: 100vw;
    padding: 32px 8px;

    background-color: var(--secondary);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;

}

.cajaCaracteristica{
    width: 200px;

    display: flex;
    align-items: center;
    gap: 12px;
}

.cajaCaracteristica > img{
    width: 50px;
    height: 40px;
}

.cajaCaracteristica:nth-child(2) > img, .cajaCaracteristica:nth-child(3) > img{
    filter: contrast(0);
}

.cajaCaracteristica > p{
    font-size: var(--xs);
    font-weight: bold;
    color: var(--text-color);
    opacity: .8;
    text-align: start;
}

#contenedorPruebas{
    width: 100vw;
    padding: 32px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    background-color: var(--primary);

}

#contenedorPruebas > h2{
    color: var(--secondary);
    opacity: .8;
}

#contenedorPruebas > h2 > span{
    font-weight: bolder;
    color: var(--secondary-2);
}

#contenedorPruebas > p{
    align-self: start;
    color: var(--secondary);
    opacity: .8;
}

#contenedorPruebas > p:first-of-type{
    margin: 24px 0px;
    font-style: italic;
    text-align: start;
}

#botonSaberMas{
    align-self: start;
    margin-top: 28px;
    padding: 12px;

    font-size: var(--xs);
    font-weight: bolder;
    color: var(--secondary);
    text-decoration: none;

    border: 1px solid var(--secondary);
    border-radius: 20px;
}

#botonSaberMas:visited{
    color: var(--secondary);
}

#contenedorInstituciones{
    width: 100vw;
    padding: 32px 8px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 32px;

    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

#contenedorInstituciones > img{
    min-width: 30px;
    max-height: 40px;

    filter: grayscale(1);
    opacity: .8;
}

#contenedorGBC{
    width: 100vw;
    padding: 32px 16px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#contenedorGBC > p{
    font-size: var(--s);
}

#contenedorGBC > img{
    width: 120px;
}

#contenedorPremios{
    width: 100vw;

    background-color: var(--primary);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cajaPremio{
    width: 100%;
    padding: 60px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cajaPremio > .titulo{
    font-size: var(--xxl);
    color: var(--secondary);
}

.cajaPremio > img{
    margin-top: 40px;
    width: clamp(280px, 100%, 500px);
}

.cajaPremio > .texto{
    color: var(--secondary);
}

#contenedorTecnologiaFCC{
    width: 100vw;
    padding: 32px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;

    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.cajaInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.cajaInfo > h2 > span{
    font-weight: bold;
    color: var(--secondary-2);
}

.cajaDatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.cajaDatos > p:first-child{
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    
    border-bottom: 2px solid var(--secondary-2);
    border-right: 1px solid var(--secondary-2);

    border-radius: 25px;
}

.cajaDatos > p:last-child{
    font-size: var(--s);
    font-weight: bold;
}

footer{
    width: 100vw;
    padding: 32px 16px 8px;

    background-color: var(--secondary-2);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cajaFCC{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.cajaFCC > a > img{
    width: 65px;
    opacity: 1;
    animation-iteration-count: infinite;
}

.cajaFCC > p{
    font-size: var(--xs);
    font-weight: bold;

    color: var(--secondary);
    opacity: .9;
    
    text-align: center;
}

.cajaContacto, .cajaRedes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.cajaContacto > a, .cajaRedes > a{
    font-size: var(--m);
    color: var(--secondary);
    opacity: .9;

    text-decoration: none;
}

.cajaContacto > a:visited, .cajaRedes > a:visited{
    color: var(--secondary);
}

.cajaContacto > a > i, .cajaRedes > a > i{
    padding: 0 12px;

    font-size: var(--xxl);
    color: var(--secondary);
    opacity: .9;
}

#copyright{
    font-size: var(--xs);
    font-weight: bolder;

    color: black;
    opacity: .9;
}